*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}